files:
  "/etc/nginx/conf.d/elasticbeanstalk/01_static.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/static/;
          access_log off;
      }

option_settings:
    aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: static